{% extends 'main.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'styles/reset_password/reset_password_sent.css' %}">

    <div class="card">
        <p>
            We’ve sent an email to the registered address linked to your account with detailed instructions on how to reset your password. Please follow the steps provided in that email to regain access to your account. <br>
        </p>

        <p>
            If you don’t receive the email within a few minutes, check your spam or junk folder in case it was filtered there by mistake. Also, make sure you entered the correct email address, or reach out to our support team for further help.
        </p>

        <p class="validity">
            The password reset link will remain active for 15 minutes.
        </p>
    </div>


{% endblock %}
